<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Order</title>
</head>
<body>
    <h1>Make Order Page</h1>

        <div>
            <a href="{% url 'accounts:customer_registration' %}">Register Customer</a>
            <a href="{% url 'orders:order_page' %}">Make Order</a>
            <a href="#">Lend Tool</a>
            <a href="#">Payments</a>
        </div>
<br><br>
        <a href="{% url 'accounts:logout' %}">logout</a>

    <div><p style="color: green">{{ msg }}</p></div>
    <form action="{% url 'orders:make_order' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label>order completion date</label>
        <input type="date" name="order_completion_date"/>
        <br><br>
        <h4>Materials</h4>
        <h6>Fill in number of units</h6>
        {% for material in materials %}
            <div>
                <label>{{ material.material_name }}</label><br>
                <input type="text" placeholder="units" name="{{ material.material_name }}"><br><br>
            </div>
        {% endfor %}
        <input type="submit" value="Make order">
    </form>
</body>
</html>