{% extends "accounts/base.html" %}

{% block title %}
Orders Furniture Palace
{% endblock %}

{% block heading %}
<div class="heading">
    <h4>Orders.</h4>
</div>
{% endblock %}

<!--order top navigation-->
{% block navigation %}
<div class="col l12 m12 s12">
    <div class="col l3 m3 s12">
        <li class="tab"><a href="{% url 'orders:all_orders' %}">View Orders</a></li>
    </div>
    <div class="col l3 m3 s12">
        <li class="tab"><a href="{% url 'orders:order_page' %}">Make Order</a></li>
    </div>
    <div class="col l3 m3 s12">
        <li class="tab"><a href="{% url 'orders:assign_order_page' %}">Assign Order</a></li>
    </div>
    <div class="col l3 m3 s12">
        <li class="tab"><a href="{% url 'orders:payment_list' %}">Order Payments</a></li>
    </div>
</div>
{% endblock %}


{% block content %}
<p style="color: green">{{ msg }}</p>
<br>
<table>
    <thead>
        <tr>
            <th>order id | order name</th>
            <th>order customer</th>
            <th>order deposit</th>
            <th>order balance</th>
        </tr>
    </thead>
    <tbody>
    {% for order_payment in order_payments %}
        <tr>
            <td>{{ order_payment.order }}</td>
            <td>{{ order_payment.order.customer }}</td>
            <td>{{ order_payment.deposit }}</td>
            <td>{{ order_payment.balance }}</td>
            <td>
                <form action="{% url 'orders:order_update_page' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order" value="{{ order_payment.order.id }}"/>
                    <button type="submit">update</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="pagination center-align">
        <span class="step_links">
            {% if order_payments.has_previous %}
                <a href="?page={{ orders.previous_page_number}}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ order_payments.number }} of {{ order_payments.paginator.num_pages }}.
            </span>
            {% if order_payments.has_next %}
                <a href="?page={{ orders.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="row">
    <p>Order Payments.</p>
</div>
{% endblock %}