<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/materialize.css"/>
    <link rel="stylesheet" href="/static/css/fp.css"/>
    <title>{% block title %}Carpenter Home{% endblock %}</title>
</head>
<body>
<div class="row">

    <!--side navigation bar-->
    <div id="sidebar" class="col s12 m3 l3 fill-vertical teal darken-3 z-depth-5">
        <div id="top-navigation" class="center-align">
            <i class="medium material-icons">perm_identity</i>
            <h6 class="center-align">{{ username|capfirst }}</h6>
        </div>
        <div class="divider teal lighten-1"></div>
        <br><br>
        <div class="action-item ">
            <a href="{% url 'accounts:customer_registration' %}"><i class="fa fa-users" aria-hidden="true"></i>
                &nbsp;&nbsp;Customers
            </a>
        </div>
        <div class="action-item">
            <a href="{% url 'orders:all_orders' %}"><i class="fa fa-get-pocket" aria-hidden="true"></i>
                &nbsp;&nbsp;Orders
            </a>
        </div>
        <div class="action-item">
            <a href="{% url 'catalogs:lent_tools' %}"><i class="fa fa-wrench" aria-hidden="true"></i>
                &nbsp;&nbsp;Tools</a>
        </div>
        {% if request.user.is_staff %}
            <div class="action-item">
                <a href="{% url 'reports:monthly_report' %}"><i class="fa fa-pie-chart" aria-hidden="true"></i>
                    &nbsp;&nbsp;Monthly Report
                </a>
            </div>
        {% else %}
            <div class="action-item">
                <!-- <a href="{% url 'reports:carpenter_payroll' %}"> My Payroll</a>-->
                <a href="{% url 'reports:carpenter_payroll' %}" data-toggle="modal" data-target="#myModal" id="open">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    &nbsp;&nbsp;My Payroll
                </a>
            </div>
        {% endif %}
        <div id="logout" class="action-item">
            <a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
                &nbsp;&nbsp;logout
            </a>
        </div>
    </div>

    <!--content div-->
    <div id="content" class="col s12 m9 l9 fill-vertical">

        <!--heading-->
        {% block heading %}<h4>Carpenter Home</h4>{% endblock %}


        <!--order top navigation-->
        {% block navigation %}
        {% endblock %}

        <!--content body-->
        {% block content %}{% endblock %}
    </div>
</div>
<script>
function myFunction() {
    window.print();
}
</script>
<!--materialize & jquery js file-->
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/fp.js"></script>
</body>
</html>