<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments Summary</title>
</head>
<body>
    <h1>Carpenter Payments</h1>

        <div>
            <a href="{% url 'accounts:customer_registration' %}">Register Customer</a>
            <a href="{% url 'orders:order_page' %}">Make Order</a>
            <a href="{% url 'lend_tool' %}">Lend Tool</a>
            <a href="{% url 'payment_summary' %}">Payments</a>
        </div>
<br><br>
        <a href="{% url 'accounts:logout' %}">logout</a>
</body>
</html>