{% extends "./base.html" %}

{% block title%}
Customer Update
{% endblock %}

{% block heading %}
<div class="heading">
    <h4>Customers.</h4>
</div>
{% endblock %}
{% block navigation %}
<nav>
    <div class="nav-wrapper teal">
      <ul id="nav-mobile" class="center">
        <li class="active"><a href="{% url 'accounts:customer_registration' %}">Register Customer</a></li>
        <li><a href="{% url 'accounts:view_customer' %}">View Customer</a></li>
      </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div><p style="color: red">{{ error_msg }}</p></div>
<div><p style="color: green">{{ success }}</p></div>

<form action="{% url 'accounts:update_customer' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="customer_id" value="{{ customer.id }} "/>
    <!--customer name field-->
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="first_name" name="customer_name" value="{{ customer.customer_name }}">
            <label for="first_name">Customer Full Name</label>
        </div>
    </div>
    <div class="row">
        <!--customer email field-->
        <div class="input-field col s6">
            <input type="email" id="customer_email" name="customer_email" value="{{ customer.customer_email }}">
            <label for="customer_email">Customer Email</label>
        </div>
        <div class="input-field col s6">
            <!--customer telephone number field-->
            <input type="tel" id="customer_tel" name="customer_tel" value="{{ customer.customer_tel_no }}">
            <label for="customer_tel">Tel</label>
        </div>
    </div>
    <div class="input-field col s6">
        <!--customer address field-->
        <textarea id="customer_address" class="materialize-textarea" name="customer_address">{{ customer.customer_address }}</textarea>
        <label for="customer_address">Customer Address</label>
    </div>

    <div class="input-field col s6">
        <!--customer physical address-->
        <textarea id="physical_address" class="materialize-textarea" name="physical_address">{{ customer.customer_physical_address }}</textarea>
        <label for="physical_address">Physical Address</label>
    </div>
    <!--input button-->
    <input class="waves-effect waves-light btn" type="submit" name="register_customer" value="update customer">
</form>
{% endblock %}