<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/materialize.css"/>
    <link rel="stylesheet" href="/static/css/fp.css"/>
    <title>Furniture Palace</title>
</head>

<body>
    <div class="row">
        <!--leftarea-->
        <div id="left-login" class="col s12 m6 l6 teal darken-3 fill-vertical" >
            <img class="responsive-img" src="/static/img/furniture_palace.png" alt="furniture palace" />
            <h3 class="flow-text">Your only furniture store.</h3>
            <h5 class = "flow-text">Orders Management System</h5>
        </div>

        <!--right area with login-->
        <div id="right-login" class="col s12 m6 l6 fill-vertical">
            <div class="{{ error_class }} "><p style="color:white">{{ error_msg }}</p></div>
            <form action="{% url 'accounts:login' %}" method="post" class="col s12">
                {% csrf_token %}
                <!--input field for username-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" type="text"  class="validate" name="username" required />
                        <label for="username">Username</label>
                    </div>
                </div>

                <!--input field for password-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" type="password"  class="validate" name="password" required />
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--submit button for the  login form-->
                <input class="btn waves-effect waves-light" type="submit" value="login"/>
            </form>
        </div>

    </div>


    <!--materialize & jquery js file-->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/materialize.js"></script>
</body>

</html>